.city {
  background-color: var(--color-dark--2);
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 7px;
  gap: 2rem;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--2);
  cursor: pointer;
  color: inherit;
}

.city span {
  font-size: 2.6rem;
  line-height: 1;
}

.city h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: auto;
}

.city time {
  font-size: 1.5rem;
}
.city button {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}
.city button:hover {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}
